div.power-1 div.power-card-power { background-image:url('./img/powers/001.png'); }
div.power-2 div.power-card-power { background-image:url('./img/powers/002.png'); }
div.power-3 div.power-card-power { background-image:url('./img/powers/003.png'); }
div.power-4 div.power-card-power { background-image:url('./img/powers/004.png'); }
div.power-5 div.power-card-power { background-image:url('./img/powers/005.png'); }
div.power-6 div.power-card-power { background-image:url('./img/powers/006.png'); }
div.power-7 div.power-card-power { background-image:url('./img/powers/007.png'); }
div.power-8 div.power-card-power { background-image:url('./img/powers/008.png'); }
div.power-9 div.power-card-power { background-image:url('./img/powers/009.png'); }
div.power-10 div.power-card-power { background-image:url('./img/powers/010.png'); }
div.power-11 div.power-card-power { background-image:url('./img/powers/011.png'); }
div.power-12 div.power-card-power { background-image:url('./img/powers/012.png'); }
div.power-13 div.power-card-power { background-image:url('./img/powers/013.png'); }
div.power-14 div.power-card-power { background-image:url('./img/powers/014.png'); }
div.power-15 div.power-card-power { background-image:url('./img/powers/015.png'); }
div.power-16 div.power-card-power { background-image:url('./img/powers/016.png'); }
div.power-17 div.power-card-power { background-image:url('./img/powers/017.png'); }
div.power-18 div.power-card-power { background-image:url('./img/powers/018.png'); }
div.power-19 div.power-card-power { background-image:url('./img/powers/019.png'); }
div.power-20 div.power-card-power { background-image:url('./img/powers/020.png'); }
div.power-21 div.power-card-power { background-image:url('./img/powers/021.png'); }
div.power-22 div.power-card-power { background-image:url('./img/powers/022.png'); }
div.power-23 div.power-card-power { background-image:url('./img/powers/023.png'); }
div.power-24 div.power-card-power { background-image:url('./img/powers/024.png'); }
div.power-25 div.power-card-power { background-image:url('./img/powers/025.png'); }
div.power-26 div.power-card-power { background-image:url('./img/powers/026.png'); }
div.power-27 div.power-card-power { background-image:url('./img/powers/027.png'); }
div.power-28 div.power-card-power { background-image:url('./img/powers/028.png'); }
div.power-29 div.power-card-power { background-image:url('./img/powers/029.png'); }
div.power-30 div.power-card-power { background-image:url('./img/powers/030.png'); }
div.power-31 div.power-card-power { background-image:url('./img/powers/031.png'); }
div.power-32 div.power-card-power { background-image:url('./img/powers/032.png'); }
div.power-33 div.power-card-power { background-image:url('./img/powers/033.png'); }
div.power-34 div.power-card-power { background-image:url('./img/powers/034.png'); }
div.power-35 div.power-card-power { background-image:url('./img/powers/035.png'); }
div.power-36 div.power-card-power { background-image:url('./img/powers/036.png'); }
div.power-37 div.power-card-power { background-image:url('./img/powers/037.png'); }
div.power-38 div.power-card-power { background-image:url('./img/powers/038.png'); }
div.power-39 div.power-card-power { background-image:url('./img/powers/039.png'); }
div.power-40 div.power-card-power { background-image:url('./img/powers/040.png'); }
div.power-41 div.power-card-power { background-image:url('./img/powers/041.png'); }
div.power-42 div.power-card-power { background-image:url('./img/powers/042.png'); }
div.power-43 div.power-card-power { background-image:url('./img/powers/043.png'); }
div.power-44 div.power-card-power { background-image:url('./img/powers/044.png'); }
div.power-45 div.power-card-power { background-image:url('./img/powers/045.png'); }
div.power-46 div.power-card-power { background-image:url('./img/powers/046.png'); }
div.power-47 div.power-card-power { background-image:url('./img/powers/047.png'); }
div.power-48 div.power-card-power { background-image:url('./img/powers/048.png'); }
div.power-49 div.power-card-power { background-image:url('./img/powers/049.png'); }
div.power-50 div.power-card-power { background-image:url('./img/powers/050.png'); }
div.power-51 div.power-card-power { background-image:url('./img/powers/051.png'); }
div.power-52 div.power-card-power { background-image:url('./img/powers/052.png'); }
div.power-53 div.power-card-power { background-image:url('./img/powers/053.png'); }
div.power-54 div.power-card-power { background-image:url('./img/powers/054.png'); }
div.power-55 div.power-card-power { background-image:url('./img/powers/055.png'); }




div.power-1 div.power-card-background { background-image:url('./img/gods/001.png'); }
div.power-2 div.power-card-background { background-image:url('./img/gods/002.png'); }
div.power-3 div.power-card-background { background-image:url('./img/gods/003.png'); }
div.power-4 div.power-card-background { background-image:url('./img/gods/004.png'); }
div.power-5 div.power-card-background { background-image:url('./img/gods/005.png'); }
div.power-6 div.power-card-background { background-image:url('./img/gods/006.png'); }
div.power-7 div.power-card-background { background-image:url('./img/gods/007.png'); }
div.power-8 div.power-card-background { background-image:url('./img/gods/008.png'); }
div.power-9 div.power-card-background { background-image:url('./img/gods/009.png'); }
div.power-10 div.power-card-background { background-image:url('./img/gods/010.png'); }
div.power-11 div.power-card-background { background-image:url('./img/gods/011.png'); }
div.power-12 div.power-card-background { background-image:url('./img/gods/012.png'); }
div.power-13 div.power-card-background { background-image:url('./img/gods/013.png'); }
div.power-14 div.power-card-background { background-image:url('./img/gods/014.png'); }
div.power-15 div.power-card-background { background-image:url('./img/gods/015.png'); }
div.power-16 div.power-card-background { background-image:url('./img/gods/016.png'); }
div.power-17 div.power-card-background { background-image:url('./img/gods/017.png'); }
div.power-18 div.power-card-background { background-image:url('./img/gods/018.png'); }
div.power-19 div.power-card-background { background-image:url('./img/gods/019.png'); }
div.power-20 div.power-card-background { background-image:url('./img/gods/020.png'); }
div.power-21 div.power-card-background { background-image:url('./img/gods/021.png'); }
div.power-22 div.power-card-background { background-image:url('./img/gods/022.png'); }
div.power-23 div.power-card-background { background-image:url('./img/gods/023.png'); }
div.power-24 div.power-card-background { background-image:url('./img/gods/024.png'); }
div.power-25 div.power-card-background { background-image:url('./img/gods/025.png'); }
div.power-26 div.power-card-background { background-image:url('./img/gods/026.png'); }
div.power-27 div.power-card-background { background-image:url('./img/gods/027.png'); }
div.power-28 div.power-card-background { background-image:url('./img/gods/028.png'); }
div.power-29 div.power-card-background { background-image:url('./img/gods/029.png'); }
div.power-30 div.power-card-background { background-image:url('./img/gods/030.png'); }
div.power-31 div.power-card-background { background-image:url('./img/gods/031.png'); }
div.power-32 div.power-card-background { background-image:url('./img/gods/032.png'); }
div.power-33 div.power-card-background { background-image:url('./img/gods/033.png'); }
div.power-34 div.power-card-background { background-image:url('./img/gods/034.png'); }
div.power-35 div.power-card-background { background-image:url('./img/gods/035.png'); }
div.power-36 div.power-card-background { background-image:url('./img/gods/036.png'); }
div.power-37 div.power-card-background { background-image:url('./img/gods/037.png'); }
div.power-38 div.power-card-background { background-image:url('./img/gods/038.png'); }
div.power-39 div.power-card-background { background-image:url('./img/gods/039.png'); }
div.power-40 div.power-card-background { background-image:url('./img/gods/040.png'); }
div.power-41 div.power-card-background { background-image:url('./img/gods/041.png'); }
div.power-42 div.power-card-background { background-image:url('./img/gods/042.png'); }
div.power-43 div.power-card-background { background-image:url('./img/gods/043.png'); }
div.power-44 div.power-card-background { background-image:url('./img/gods/044.png'); }
div.power-45 div.power-card-background { background-image:url('./img/gods/045.png'); }
div.power-46 div.power-card-background { background-image:url('./img/gods/046.png'); }
div.power-47 div.power-card-background { background-image:url('./img/gods/047.png'); }
div.power-48 div.power-card-background { background-image:url('./img/gods/048.png'); }
div.power-49 div.power-card-background { background-image:url('./img/gods/049.png'); }
div.power-50 div.power-card-background { background-image:url('./img/gods/050.png'); }
div.power-51 div.power-card-background { background-image:url('./img/gods/051.png'); }
div.power-52 div.power-card-background { background-image:url('./img/gods/052.png'); }
div.power-53 div.power-card-background { background-image:url('./img/gods/053.png'); }
div.power-54 div.power-card-background { background-image:url('./img/gods/054.png'); }
div.power-55 div.power-card-background { background-image:url('./img/gods/055.png'); }
