div.power-1 div.power-card-power { background-image:url('./img/powers_descriptions/001.png'); }
div.power-2 div.power-card-power { background-image:url('./img/powers_descriptions/002.png'); }
div.power-3 div.power-card-power { background-image:url('./img/powers_descriptions/003.png'); }
div.power-4 div.power-card-power { background-image:url('./img/powers_descriptions/004.png'); }
div.power-5 div.power-card-power { background-image:url('./img/powers_descriptions/005.png'); }
div.power-6 div.power-card-power { background-image:url('./img/powers_descriptions/006.png'); }
div.power-7 div.power-card-power { background-image:url('./img/powers_descriptions/007.png'); }
div.power-8 div.power-card-power { background-image:url('./img/powers_descriptions/008.png'); }
div.power-9 div.power-card-power { background-image:url('./img/powers_descriptions/009.png'); }
div.power-10 div.power-card-power { background-image:url('./img/powers_descriptions/010.png'); }
div.power-11 div.power-card-power { background-image:url('./img/powers_descriptions/011.png'); }
div.power-12 div.power-card-power { background-image:url('./img/powers_descriptions/012.png'); }
div.power-13 div.power-card-power { background-image:url('./img/powers_descriptions/013.png'); }
div.power-14 div.power-card-power { background-image:url('./img/powers_descriptions/014.png'); }
div.power-15 div.power-card-power { background-image:url('./img/powers_descriptions/015.png'); }
div.power-16 div.power-card-power { background-image:url('./img/powers_descriptions/016.png'); }
div.power-17 div.power-card-power { background-image:url('./img/powers_descriptions/017.png'); }
div.power-18 div.power-card-power { background-image:url('./img/powers_descriptions/018.png'); }
div.power-19 div.power-card-power { background-image:url('./img/powers_descriptions/019.png'); }
div.power-20 div.power-card-power { background-image:url('./img/powers_descriptions/020.png'); }
div.power-21 div.power-card-power { background-image:url('./img/powers_descriptions/021.png'); }
div.power-22 div.power-card-power { background-image:url('./img/powers_descriptions/022.png'); }
div.power-23 div.power-card-power { background-image:url('./img/powers_descriptions/023.png'); }
div.power-24 div.power-card-power { background-image:url('./img/powers_descriptions/024.png'); }
div.power-25 div.power-card-power { background-image:url('./img/powers_descriptions/025.png'); }
div.power-26 div.power-card-power { background-image:url('./img/powers_descriptions/026.png'); }
div.power-27 div.power-card-power { background-image:url('./img/powers_descriptions/027.png'); }
div.power-28 div.power-card-power { background-image:url('./img/powers_descriptions/028.png'); }
div.power-29 div.power-card-power { background-image:url('./img/powers_descriptions/029.png'); }
div.power-30 div.power-card-power { background-image:url('./img/powers_descriptions/030.png'); }
div.power-31 div.power-card-power { background-image:url('./img/powers_descriptions/031.png'); }
div.power-32 div.power-card-power { background-image:url('./img/powers_descriptions/032.png'); }
div.power-33 div.power-card-power { background-image:url('./img/powers_descriptions/033.png'); }
div.power-34 div.power-card-power { background-image:url('./img/powers_descriptions/034.png'); }
div.power-35 div.power-card-power { background-image:url('./img/powers_descriptions/035.png'); }
div.power-36 div.power-card-power { background-image:url('./img/powers_descriptions/036.png'); }
div.power-37 div.power-card-power { background-image:url('./img/powers_descriptions/037.png'); }
div.power-38 div.power-card-power { background-image:url('./img/powers_descriptions/038.png'); }
div.power-39 div.power-card-power { background-image:url('./img/powers_descriptions/039.png'); }
div.power-40 div.power-card-power { background-image:url('./img/powers_descriptions/040.png'); }
div.power-41 div.power-card-power { background-image:url('./img/powers_descriptions/041.png'); }
div.power-42 div.power-card-power { background-image:url('./img/powers_descriptions/042.png'); }
div.power-43 div.power-card-power { background-image:url('./img/powers_descriptions/043.png'); }
div.power-44 div.power-card-power { background-image:url('./img/powers_descriptions/044.png'); }
div.power-45 div.power-card-power { background-image:url('./img/powers_descriptions/045.png'); }
div.power-46 div.power-card-power { background-image:url('./img/powers_descriptions/046.png'); }
div.power-47 div.power-card-power { background-image:url('./img/powers_descriptions/047.png'); }
div.power-48 div.power-card-power { background-image:url('./img/powers_descriptions/048.png'); }
div.power-49 div.power-card-power { background-image:url('./img/powers_descriptions/049.png'); }
div.power-50 div.power-card-power { background-image:url('./img/powers_descriptions/050.png'); }
div.power-51 div.power-card-power { background-image:url('./img/powers_descriptions/051.png'); }
div.power-52 div.power-card-power { background-image:url('./img/powers_descriptions/052.png'); }
div.power-53 div.power-card-power { background-image:url('./img/powers_descriptions/053.png'); }
div.power-54 div.power-card-power { background-image:url('./img/powers_descriptions/054.png'); }
div.power-55 div.power-card-power { background-image:url('./img/powers_descriptions/055.png'); }




div.power-1 div.power-card-background { background-image:url('./img/powers_cards/001.png'); }
div.power-2 div.power-card-background { background-image:url('./img/powers_cards/002.png'); }
div.power-3 div.power-card-background { background-image:url('./img/powers_cards/003.png'); }
div.power-4 div.power-card-background { background-image:url('./img/powers_cards/004.png'); }
div.power-5 div.power-card-background { background-image:url('./img/powers_cards/005.png'); }
div.power-6 div.power-card-background { background-image:url('./img/powers_cards/006.png'); }
div.power-7 div.power-card-background { background-image:url('./img/powers_cards/007.png'); }
div.power-8 div.power-card-background { background-image:url('./img/powers_cards/008.png'); }
div.power-9 div.power-card-background { background-image:url('./img/powers_cards/009.png'); }
div.power-10 div.power-card-background { background-image:url('./img/powers_cards/010.png'); }
div.power-11 div.power-card-background { background-image:url('./img/powers_cards/011.png'); }
div.power-12 div.power-card-background { background-image:url('./img/powers_cards/012.png'); }
div.power-13 div.power-card-background { background-image:url('./img/powers_cards/013.png'); }
div.power-14 div.power-card-background { background-image:url('./img/powers_cards/014.png'); }
div.power-15 div.power-card-background { background-image:url('./img/powers_cards/015.png'); }
div.power-16 div.power-card-background { background-image:url('./img/powers_cards/016.png'); }
div.power-17 div.power-card-background { background-image:url('./img/powers_cards/017.png'); }
div.power-18 div.power-card-background { background-image:url('./img/powers_cards/018.png'); }
div.power-19 div.power-card-background { background-image:url('./img/powers_cards/019.png'); }
div.power-20 div.power-card-background { background-image:url('./img/powers_cards/020.png'); }
div.power-21 div.power-card-background { background-image:url('./img/powers_cards/021.png'); }
div.power-22 div.power-card-background { background-image:url('./img/powers_cards/022.png'); }
div.power-23 div.power-card-background { background-image:url('./img/powers_cards/023.png'); }
div.power-24 div.power-card-background { background-image:url('./img/powers_cards/024.png'); }
div.power-25 div.power-card-background { background-image:url('./img/powers_cards/025.png'); }
div.power-26 div.power-card-background { background-image:url('./img/powers_cards/026.png'); }
div.power-27 div.power-card-background { background-image:url('./img/powers_cards/027.png'); }
div.power-28 div.power-card-background { background-image:url('./img/powers_cards/028.png'); }
div.power-29 div.power-card-background { background-image:url('./img/powers_cards/029.png'); }
div.power-30 div.power-card-background { background-image:url('./img/powers_cards/030.png'); }
div.power-31 div.power-card-background { background-image:url('./img/powers_cards/031.png'); }
div.power-32 div.power-card-background { background-image:url('./img/powers_cards/032.png'); }
div.power-33 div.power-card-background { background-image:url('./img/powers_cards/033.png'); }
div.power-34 div.power-card-background { background-image:url('./img/powers_cards/034.png'); }
div.power-35 div.power-card-background { background-image:url('./img/powers_cards/035.png'); }
div.power-36 div.power-card-background { background-image:url('./img/powers_cards/036.png'); }
div.power-37 div.power-card-background { background-image:url('./img/powers_cards/037.png'); }
div.power-38 div.power-card-background { background-image:url('./img/powers_cards/038.png'); }
div.power-39 div.power-card-background { background-image:url('./img/powers_cards/039.png'); }
div.power-40 div.power-card-background { background-image:url('./img/powers_cards/040.png'); }
div.power-41 div.power-card-background { background-image:url('./img/powers_cards/041.png'); }
div.power-42 div.power-card-background { background-image:url('./img/powers_cards/042.png'); }
div.power-43 div.power-card-background { background-image:url('./img/powers_cards/043.png'); }
div.power-44 div.power-card-background { background-image:url('./img/powers_cards/044.png'); }
div.power-45 div.power-card-background { background-image:url('./img/powers_cards/045.png'); }
div.power-46 div.power-card-background { background-image:url('./img/powers_cards/046.png'); }
div.power-47 div.power-card-background { background-image:url('./img/powers_cards/047.png'); }
div.power-48 div.power-card-background { background-image:url('./img/powers_cards/048.png'); }
div.power-49 div.power-card-background { background-image:url('./img/powers_cards/049.png'); }
div.power-50 div.power-card-background { background-image:url('./img/powers_cards/050.png'); }
div.power-51 div.power-card-background { background-image:url('./img/powers_cards/051.png'); }
div.power-52 div.power-card-background { background-image:url('./img/powers_cards/052.png'); }
div.power-53 div.power-card-background { background-image:url('./img/powers_cards/053.png'); }
div.power-54 div.power-card-background { background-image:url('./img/powers_cards/054.png'); }
div.power-55 div.power-card-background { background-image:url('./img/powers_cards/055.png'); }



div.power-1 div.power-select-background { background-image:url('./img/powers_small/001.png'); }
div.power-2 div.power-select-background { background-image:url('./img/powers_small/002.png'); }
div.power-3 div.power-select-background { background-image:url('./img/powers_small/003.png'); }
div.power-4 div.power-select-background { background-image:url('./img/powers_small/004.png'); }
div.power-5 div.power-select-background { background-image:url('./img/powers_small/005.png'); }
div.power-6 div.power-select-background { background-image:url('./img/powers_small/006.png'); }
div.power-7 div.power-select-background { background-image:url('./img/powers_small/007.png'); }
div.power-8 div.power-select-background { background-image:url('./img/powers_small/008.png'); }
div.power-9 div.power-select-background { background-image:url('./img/powers_small/009.png'); }
div.power-10 div.power-select-background { background-image:url('./img/powers_small/010.png'); }
div.power-11 div.power-select-background { background-image:url('./img/powers_small/011.png'); }
div.power-12 div.power-select-background { background-image:url('./img/powers_small/012.png'); }
div.power-13 div.power-select-background { background-image:url('./img/powers_small/013.png'); }
div.power-14 div.power-select-background { background-image:url('./img/powers_small/014.png'); }
div.power-15 div.power-select-background { background-image:url('./img/powers_small/015.png'); }
div.power-16 div.power-select-background { background-image:url('./img/powers_small/016.png'); }
div.power-17 div.power-select-background { background-image:url('./img/powers_small/017.png'); }
div.power-18 div.power-select-background { background-image:url('./img/powers_small/018.png'); }
div.power-19 div.power-select-background { background-image:url('./img/powers_small/019.png'); }
div.power-20 div.power-select-background { background-image:url('./img/powers_small/020.png'); }
div.power-21 div.power-select-background { background-image:url('./img/powers_small/021.png'); }
div.power-22 div.power-select-background { background-image:url('./img/powers_small/022.png'); }
div.power-23 div.power-select-background { background-image:url('./img/powers_small/023.png'); }
div.power-24 div.power-select-background { background-image:url('./img/powers_small/024.png'); }
div.power-25 div.power-select-background { background-image:url('./img/powers_small/025.png'); }
div.power-26 div.power-select-background { background-image:url('./img/powers_small/026.png'); }
div.power-27 div.power-select-background { background-image:url('./img/powers_small/027.png'); }
div.power-28 div.power-select-background { background-image:url('./img/powers_small/028.png'); }
div.power-29 div.power-select-background { background-image:url('./img/powers_small/029.png'); }
div.power-30 div.power-select-background { background-image:url('./img/powers_small/030.png'); }
div.power-31 div.power-select-background { background-image:url('./img/powers_small/031.png'); }
div.power-32 div.power-select-background { background-image:url('./img/powers_small/032.png'); }
div.power-33 div.power-select-background { background-image:url('./img/powers_small/033.png'); }
div.power-34 div.power-select-background { background-image:url('./img/powers_small/034.png'); }
div.power-35 div.power-select-background { background-image:url('./img/powers_small/035.png'); }
div.power-36 div.power-select-background { background-image:url('./img/powers_small/036.png'); }
div.power-37 div.power-select-background { background-image:url('./img/powers_small/037.png'); }
div.power-38 div.power-select-background { background-image:url('./img/powers_small/038.png'); }
div.power-39 div.power-select-background { background-image:url('./img/powers_small/039.png'); }
div.power-40 div.power-select-background { background-image:url('./img/powers_small/040.png'); }
div.power-41 div.power-select-background { background-image:url('./img/powers_small/041.png'); }
div.power-42 div.power-select-background { background-image:url('./img/powers_small/042.png'); }
div.power-43 div.power-select-background { background-image:url('./img/powers_small/043.png'); }
div.power-44 div.power-select-background { background-image:url('./img/powers_small/044.png'); }
div.power-45 div.power-select-background { background-image:url('./img/powers_small/045.png'); }
div.power-46 div.power-select-background { background-image:url('./img/powers_small/046.png'); }
div.power-47 div.power-select-background { background-image:url('./img/powers_small/047.png'); }
div.power-48 div.power-select-background { background-image:url('./img/powers_small/048.png'); }
div.power-49 div.power-select-background { background-image:url('./img/powers_small/049.png'); }
div.power-50 div.power-select-background { background-image:url('./img/powers_small/050.png'); }
div.power-51 div.power-select-background { background-image:url('./img/powers_small/051.png'); }
div.power-52 div.power-select-background { background-image:url('./img/powers_small/052.png'); }
div.power-53 div.power-select-background { background-image:url('./img/powers_small/053.png'); }
div.power-54 div.power-select-background { background-image:url('./img/powers_small/054.png'); }
div.power-55 div.power-select-background { background-image:url('./img/powers_small/055.png'); }
