/**
 *------
 * BGA framework: (c) Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * santorini implementation : (c) Morgalad
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * santorini.css
 *
 * santorini stylesheet
 *
 */

@import url('../../../css/csslayer.css');
@import url('santorini.powers.css');
@import url('santorini.tokens.css');

/* Looked too much like a video game
html {
    background-image: none !important;
    background-color: #76cfe9;
}
*/

@font-face {
  font-family: 'Ink Blossoms';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Ink Blossoms'), local('InkBlossoms-Regular'), url('./InkBlossoms.ttf') format('truetype');
}

div#popin_chooseArg {
    background-image: url('img/dialog.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    box-shadow: none;
    width: 550px;
    height: 400px;
}

div#popin_chooseArg h2 {
    color: white;
    margin-top: 40px;
    text-align: center;
    width: 100%;
}

div#popin_chooseArg_contents {
    width: 77%;
    margin: 85px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div#popin_chooseArg_contents div.arg-prompt {
    width: 150px;
    height: 150px;
    margin: 15px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

div#popin_chooseArg_contents div.arg-prompt.arg-0 {
    background-image: url('img/lvl0.svg');
}

div#popin_chooseArg_contents div.arg-prompt.arg-1 {
    background-image: url('img/lvl1.svg');
}

div#popin_chooseArg_contents div.arg-prompt.arg-2 {
    background-image: url('img/lvl2.svg');
}

div#popin_chooseArg_contents div.arg-prompt.arg-3 {
    background-image: url('img/lvl3.svg');
}

#popin_chooseArg_close {
    top: 25px;
    right: -14px;
}

/* Player boards */

.power-container {
    text-align: center;
}

.mini-card {
    position: relative;
    margin-left: -3px;
    width: 240px;
    height: 120px;
    background-image: url(img/mini-card.png);
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
}

.mini-card .power-avatar {
    position: absolute;
    width: 65px;
    height: 67px;
    top: 26px;
    left: -9px;
    border-radius: 100%;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.mini-card .power-pictogram {
    position: absolute;
    width: 160px;
    height: 80px;
    left: 60px;
    top: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.power-detail {
    width: 300px;
}

.power-detail.power-dummy div {
  display:none;
}

.power-name {
    font: 24px 'Ink Blossoms', cursive;
    letter-spacing: -0.5px;
    color: #333;
}

.hero .power-name, .hero .power-title {
    color: #6a1b9a;
}

.hero .power-name::before {
    content: "";
    display: inline-block;
    background-image: url('img/gladiator.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: -3px;
    width: 1em;
    height: 1em;
    padding-right: .3em;
}

.power-title {
    font-style: italic;
    margin-bottom: .5em;
}

.power-text li {
    list-style: square;
    margin-left: 1.5em;
    margin-bottom: 1em;
}

.power-text.new-rule::after {
  content:"(UPDATED RULE)";
}


#power-offer-container .power-detail, #power-choose-container .power-detail {
    margin: 0 15px;
}

#power-offer-container {
    display: flex;
}

#grid-powers {
    flex: 1 1 auto;
    margin: 0 10px;
}

.card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    background: rgba(255, 255, 255, .25);
    min-height: 166px;
    margin: 6px 0 18px;
}

.card-container:empty::before {
    content: "∅";
    font-size: 100px;
    line-height: 166px;
    opacity: .2;
}

#grid-detail {
    flex: 0 0 330px;
}

#power-choose-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

#play-area {
    display: flex;
    pointer-events: visible;
}

#prompt-container {
    background: #f0f0f0;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    padding: 5px;
    margin-bottom: 5px;
}

.token-prompt {
    margin: 0 auto;
    border-style: hidden;
    border-collapse: collapse;
}

.token-prompt td {
    border: 1px dotted #ccc;
}

.token-choose-rotation {
    cursor: pointer;
}

#token-container {
    float: left;
    border-radius: 10px;
    background: rgba(255, 255, 255, .33);
    margin: 10px;
}

#prompt-container:empty, #token-container:empty {
    display: none;
}

#scene-container {
    text-align: center;
    outline: none;
}

#scene-container canvas {
    outline: none;
}

.power-card {
    margin: 0 auto 10px;
    width: 300px;
    height: 465px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}
.power-card.power-0 {
    visibility: hidden;
}

.power-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: url('img/card.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 2;
}

.power-card .power-name {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 34px;
    text-shadow: 1px 1px 2px white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 3;
}


.power-card .power-pictogram {
    position: absolute;
    bottom: 1.5%;
    left: 15%;
    width: 70%;
    height: 16%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 4;
}

/* Fair division setup uses small cards */

.power-card.small {
    cursor: pointer;
    width: 103px;
    height: 150px;
    background-size: 135%;
    background-position: 50% 20%;
    border-radius: 8px;
    margin: 8px;
}

.power-card.small.wait {
    cursor: wait;
}

.power-card.small::before {
    background-image: url('img/card-small.png');
    border-radius: 8px;
}

.power-card.small.displayed::before {
    background-image: url('img/card-small-displayed.png');
}

.power-card.small.banned::before {
  background-image:none;
  background-color:rgba(200,0,0,0.5);
  cursor:not-allowed;
}


.power-card.small.not-implemented::before {
  background-image:none;
  background-color:rgba(0,0,0,0.6);
  cursor:not-allowed;
}

.power-card.small .power-name {
    font-size: 15px;
    line-height: 18px;
}
