/**
 *------
 * BGA framework: (c) Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * santorini implementation : (c) Morgalad & Tisaac & quietmint
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * santorini.css
 *
 * santorini stylesheet
 *
 */

@import url('../../../css/csslayer.css');
@import url('https://fonts.googleapis.com/css2?family=Amita:wght@700&family=Caveat+Brush&family=Lato:wght@400;900&display=swap');
@import url('santorini.powers.css');
@import url('santorini.tokens.css');

html {
  background-image:none !important;
  background-color:#76cfe9; /*#153665*/
}

#overall-content {
  position:relative;
}


#scene-container {
  outline: none;
  position:fixed;
  top:0;
  left:0;
  z-index:1;
  width:100%;
  height:100vh;
}

#scene-container canvas {
  position:absolute;
  outline: none;
  top:0;
  left:0;
  z-index:1;
}


#santorini-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  transition: opacity 1s ease;
  background-repeat: no-repeat;
  background-color: rgba(255,255,255,0.5);
  opacity: 0.7;
}

/*clouds PNG Designed By 588ku from <a href="https://pngtree.com/">Pngtree.com</a>*/
#left-cloud {
  position:absolute;
  top:0;
  left:0;
  width:28vw;
  height:100vh;
  z-index:2;
  background-image:url('img/cloud-left.png');
  background-size:cover;
  background-position:right;
  transition: left 2s ease;
}

#right-cloud {
  position:absolute;
  top:0;
  right:0;
  width:40vw;
  height:100vh;
  z-index:2;
  background-image:url('img/cloud-right.png');
  background-size:cover;
  transition: right 2s ease;
}



#left-side-wrapper {
  position:relative;
}




@media (max-width: 2300px) {
  #left-side {
    position:relative;
    z-index:3;
  }
}
@media (min-width: 2300px) {
  #page-title {
    position: relative;
    z-index: 2;
  }

  #page-content, .whiteblock.debug_section, #pagesection_howtoplay {
    position:relative;
    z-index:4;
  }


}


#right-side {
  position: relative;
  z-index: 4;
}


#play-area-scaler #power-offer-container,
#play-area-scaler #power-choose-container {
  z-index:2;
  opacity:0;
  transition: opacity 2s ease;
}


div#popin_chooseArg {
    background-image: url('img/dialog.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    box-shadow: none;
    width: 30vw;
    height: 21.8vw;
    min-height:218px;
}

div#popin_chooseArg h2 {
  color: white;
  margin-top: 7.5%;
  width: 100%;
  text-align: center;
  font-size: calc(11px + 0.7vw);
}

div#popin_chooseArg_contents {
    width: 77%;
    margin: 15% auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div#popin_chooseArg_contents div.arg-prompt {
  width: 40%;
  margin: 5%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  padding-bottom: 37%;
}

div#popin_chooseArg_contents div.arg-prompt.arg-0 {
    background-image: url('img/lvl0.svg');
}

div#popin_chooseArg_contents div.arg-prompt.arg-1 {
    background-image: url('img/lvl1.svg');
}

div#popin_chooseArg_contents div.arg-prompt.arg-2 {
    background-image: url('img/lvl2.svg');
}

div#popin_chooseArg_contents div.arg-prompt.arg-3 {
    background-image: url('img/lvl3.svg');
}

#popin_chooseArg_close {
  top: 8%;
  right: -2%;
}

/* Player boards */

.power-container {
    text-align: center;
}

.power-container .mini-card {
    position: relative;
    margin-left: -3px;
    width: 240px;
    height: 120px;
    background-image: url(img/mini-card.png);
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    border-radius: 8px;
}

.power-container .mini-card .power-name {
    font-size: 17px;
    padding-top: 1px;
}

.power-container .mini-card .power-avatar {
    position: absolute;
    width: 65px;
    height: 67px;
    top: 26px;
    left: -9px;
    border-radius: 100%;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.power-container .mini-card .power-pictogram {
    position: absolute;
    width: 150px;
    height: 72px;
    left: 63px;
    top: 31px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.power-detail {
  z-index:6;
}

.power-detail.power-dummy div {
  display:none;
}

.power-name {
  font: 24px 'Caveat Brush', cursive;
  text-transform: uppercase;
  color: #443;
}

.hero .power-name {
    color: #6a1b9a;
}

.hero .power-name::before {
    content: "";
    display: inline-block;
    background-image: url('img/gladiator.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: -3px;
    width: 1em;
    height: 1em;
    padding-right: .3em;
}

.power-title {
    position: absolute;
    top: 25px;
    width: 100%;
    height: 55px;
    font: 700 14px/42px 'Amita', sans-serif;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
    text-shadow: 1px 1px 3px black;
    background-image: url('img/title.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.hero .power-title {
    background-image: url('img/title-hero.png');
}

#power-offer-container .power-detail,
#power-choose-container .power-detail {
    position: relative;
    margin: 0 10px 10px 10px;
}


#power-choose-container .power-detail {
  transition: transform 250ms ease;
}
#power-choose-container .power-detail.clickable {
  cursor: pointer;
}
#power-choose-container .power-detail.clickable:hover {
  transform: scale(1.05);
}

#power-offer-container {
    display: flex;
}

#grid-powers {
    flex: 1 1 auto;
    margin: 0 0 0 10px;
}

.power-section {
    background: rgba(255, 255, 255, .6);
    border-radius: 10px;
}

.power-section p {
    font-weight: bold;
    padding: 5px;
    margin: 0;
}

.card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    min-height: 166px;
    margin-bottom: 15px;
}

.card-container:empty::before {
    content: "∅";
    font-size: 100px;
    line-height: 166px;
    opacity: .2;
}

#grid-detail {
    flex: 0 0 270px;
}

#grid-detail.fixed .power-detail {
    position: fixed;
    top: 49px;
}

#power-choose-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 50px;
}

.power-info-background {
  width:100%;
  height:100%;
  background-color:#f0e3d4;
  position:relative;
  padding-bottom:1px;
}

#play-area {
    display: flex;
    pointer-events: visible;
    outline:none;
    position:relative;
}


#power-ram {
  position: absolute;
  top: 50px;
  right: 2px;
  margin: 0;
}

#power-ram::after {
  content: '';
  display: block;
  background-image: url('img/ram.png');
  width: 100%;
  height: 28%;
  position: absolute;
  top: -50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#prompt-container {
    background: #f0f0f0;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    padding: 5px;
    margin-bottom: 5px;
}

.token-prompt {
    margin: 0 auto;
    border-style: hidden;
    border-collapse: collapse;
}

.token-prompt td {
    border: 1px dotted #ccc;
}

.token-choose-rotation {
    cursor: pointer;
}

#token-container {
    float: left;
    border-radius: 10px;
    background: rgba(255, 255, 255, .33);
    margin: 10px;
}

#prompt-container:empty, #token-container:empty {
    display: none;
}


.power-card {
    margin: 0 auto;
    width: 250px;
    height: 418px;
    position: relative;
    background-repeat: no-repeat;
    background-size: 215px;
    background-position: center 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}
.power-card.power-0 {
    visibility: hidden;
}

.power-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url('img/card.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.power-card .power-name {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 34px;
    text-shadow: 1px 1px 2px white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }


.power-card .power-pictogram {
    position: absolute;
    bottom: 4px;
    left: 45px;
    width: 160px;
    height: 80px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* Extended cards showing full text */

.power-ext {
    box-sizing: border-box;
    width: 250px;
    margin: 0 auto 10px;
    background-image: url('img/card-ext.png');
    background-repeat: repeat-y;
    background-size: 100%;
    padding: 0 26px 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
    font: 13px 'Lato', sans-serif;
}

.power-ext p {
    margin: 0;
    padding-top: 10px;
}

.power-ext b {
    font-weight: 900;
}

/* Fair division setup uses small cards */

.power-card.small {
    cursor: pointer;
    width: 103px;
    height: 150px;
    background-size: 125%;
    background-position: 50% 20%;
    border-radius: 8px;
    margin: 10px;
}

@media (max-width: 1200px) {
  .power-card.small {
    margin: 4px;
  }
}

.power-card.small.wait {
    cursor: wait;
}

.power-card.small::before {
    background-image: url('img/card-small.png');
    border-radius: 8px;
    transition: background-image 250ms ease;
}
.power-card.small:hover::before {
    background-image: url('img/card-small-hovered.png');
}


.power-card.small.displayed::before {
    background-image: url('img/card-small-displayed.png');
}

.power-card.small.banned {
  cursor: not-allowed;
}

.power-card.small.banned::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.6);
}

.power-card.small.banned .power-name {
  text-decoration: line-through;
  color: #c62828;
}

.power-card.small .power-name {
    font-size: 15px;
    line-height: 18px;
}

.power-counter {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  color: white;
  background-color: #01579b;
  line-height: 25px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

/* Chaos: on top of the deck */
.mini-card.power-14 .power-counter {
  top: 75px;
  left: 130px;
}

/* Morpheus: on top of the equal sign */
.mini-card.power-25 .power-counter {
  top: 40px;
  left: 174px;
}

/* First player marker */
#power-choose-container .power-detail .power-counter {
  top: 7px;
  right: 7px;
}

/* Cancelled notification messages */

.log.cancel {
  color: #c62828 !important;
  text-decoration: line-through;
}

.log.cancel .roundedbox {
  background-color: rgba(255, 205, 210, 0.6);
}

/*********************
******* Tokens *******
*********************/
.token {
    margin: 10px;
    width: 70px;
    height: 70px;
    background: center / contain no-repeat;
    transition: transform 1s cubic-bezier(.4, 1.8, .7, 1.1);
}

.token-wind {
    background-image: url(img/token-wind.png);
}

.token-arrow {
    background-image: url(img/token-arrow.png);
}

.token.rotate-2 {
    transform: rotate(45deg);
}
.token.rotate-3 {
    transform: rotate(90deg);
}
.token.rotate-4 {
    transform: rotate(135deg);
}
.token.rotate-5 {
    transform: rotate(180deg);
}
.token.rotate-6 {
    transform: rotate(225deg);
}
.token.rotate-7 {
    transform: rotate(270deg);
}
.token.rotate-8 {
    transform: rotate(315deg);
}


/*********************
******* Powers *******
*********************/
.power-1 .power-pictogram { background-image:url('img/pictograms/001.png'); }
.power-2 .power-pictogram { background-image:url('img/pictograms/002.png'); }
.power-3 .power-pictogram { background-image:url('img/pictograms/003.png'); }
.power-4 .power-pictogram { background-image:url('img/pictograms/004.png'); }
.power-5 .power-pictogram { background-image:url('img/pictograms/005.png'); }
.power-6 .power-pictogram { background-image:url('img/pictograms/006.png'); }
.power-7 .power-pictogram { background-image:url('img/pictograms/007.png'); }
.power-8 .power-pictogram { background-image:url('img/pictograms/008.png'); }
.power-9 .power-pictogram { background-image:url('img/pictograms/009.png'); }
.power-10 .power-pictogram { background-image:url('img/pictograms/010.png'); }
.power-11 .power-pictogram { background-image:url('img/pictograms/011.png'); }
.power-12 .power-pictogram { background-image:url('img/pictograms/012.png'); }
.power-13 .power-pictogram { background-image:url('img/pictograms/013.png'); }
.power-14 .power-pictogram { background-image:url('img/pictograms/014.png'); }
.power-15 .power-pictogram { background-image:url('img/pictograms/015.png'); }
.power-16 .power-pictogram { background-image:url('img/pictograms/016.png'); }
.power-17 .power-pictogram { background-image:url('img/pictograms/017.png'); }
.power-18 .power-pictogram { background-image:url('img/pictograms/018.png'); }
.power-19 .power-pictogram { background-image:url('img/pictograms/019.png'); }
.power-20 .power-pictogram { background-image:url('img/pictograms/020.png'); }
.power-21 .power-pictogram { background-image:url('img/pictograms/021.png'); }
.power-22 .power-pictogram { background-image:url('img/pictograms/022.png'); }
.power-23 .power-pictogram { background-image:url('img/pictograms/023.png'); }
.power-24 .power-pictogram { background-image:url('img/pictograms/024.png'); }
.power-25 .power-pictogram { background-image:url('img/pictograms/025.png'); }
.power-26 .power-pictogram { background-image:url('img/pictograms/026.png'); }
.power-27 .power-pictogram { background-image:url('img/pictograms/027.png'); }
.power-28 .power-pictogram { background-image:url('img/pictograms/028.png'); }
.power-29 .power-pictogram { background-image:url('img/pictograms/029.png'); }
.power-30 .power-pictogram { background-image:url('img/pictograms/030.png'); }
.power-31 .power-pictogram { background-image:url('img/pictograms/031.png'); }
.power-32 .power-pictogram { background-image:url('img/pictograms/032.png'); }
.power-33 .power-pictogram { background-image:url('img/pictograms/033.png'); }
.power-34 .power-pictogram { background-image:url('img/pictograms/034.png'); }
.power-35 .power-pictogram { background-image:url('img/pictograms/035.png'); }
.power-36 .power-pictogram { background-image:url('img/pictograms/036.png'); }
.power-37 .power-pictogram { background-image:url('img/pictograms/037.png'); }
.power-38 .power-pictogram { background-image:url('img/pictograms/038.png'); }
.power-39 .power-pictogram { background-image:url('img/pictograms/039.png'); }
.power-40 .power-pictogram { background-image:url('img/pictograms/040.png'); }
.power-41 .power-pictogram { background-image:url('img/pictograms/041.png'); }
.power-42 .power-pictogram { background-image:url('img/pictograms/042.png'); }
.power-43 .power-pictogram { background-image:url('img/pictograms/043.png'); }
.power-44 .power-pictogram { background-image:url('img/pictograms/044.png'); }
.power-45 .power-pictogram { background-image:url('img/pictograms/045.png'); }
.power-46 .power-pictogram { background-image:url('img/pictograms/046.png'); }
.power-47 .power-pictogram { background-image:url('img/pictograms/047.png'); }
.power-48 .power-pictogram { background-image:url('img/pictograms/048.png'); }
.power-49 .power-pictogram { background-image:url('img/pictograms/049.png'); }
.power-50 .power-pictogram { background-image:url('img/pictograms/050.png'); }
.power-51 .power-pictogram { background-image:url('img/pictograms/051.png'); }
.power-52 .power-pictogram { background-image:url('img/pictograms/052.png'); }
.power-53 .power-pictogram { background-image:url('img/pictograms/053.png'); }
.power-54 .power-pictogram { background-image:url('img/pictograms/054.png'); }
.power-55 .power-pictogram { background-image:url('img/pictograms/055.png'); }
.power-56 .power-pictogram { background-image:url('img/pictograms/056.png'); }
.power-57 .power-pictogram { background-image:url('img/pictograms/057.png'); }
.power-58 .power-pictogram { background-image:url('img/pictograms/058.png'); }
.power-59 .power-pictogram { background-image:url('img/pictograms/059.png'); }
.power-60 .power-pictogram { background-image:url('img/pictograms/060.png'); }
.power-61 .power-pictogram { background-image:url('img/pictograms/061.png'); }
.power-62 .power-pictogram { background-image:url('img/pictograms/062.png'); }
.power-63 .power-pictogram { background-image:url('img/pictograms/063.png'); }
.power-64 .power-pictogram { background-image:url('img/pictograms/064.png'); }
.power-65 .power-pictogram { background-image:url('img/pictograms/065.png'); }
.power-66 .power-pictogram { background-image:url('img/pictograms/066.png'); }
.power-67 .power-pictogram { background-image:url('img/pictograms/067.png'); }


.power-1 { background-image:url('img/cards/001.jpg'); }
.power-2 { background-image:url('img/cards/002.jpg'); }
.power-3 { background-image:url('img/cards/003.jpg'); }
.power-4 { background-image:url('img/cards/004.jpg'); }
.power-5 { background-image:url('img/cards/005.jpg'); }
.power-6 { background-image:url('img/cards/006.jpg'); }
.power-7 { background-image:url('img/cards/007.jpg'); }
.power-8 { background-image:url('img/cards/008.jpg'); }
.power-9 { background-image:url('img/cards/009.jpg'); }
.power-10 { background-image:url('img/cards/010.jpg'); }
.power-11 { background-image:url('img/cards/011.jpg'); }
.power-12 { background-image:url('img/cards/012.jpg'); }
.power-13 { background-image:url('img/cards/013.jpg'); }
.power-14 { background-image:url('img/cards/014.jpg'); }
.power-15 { background-image:url('img/cards/015.jpg'); }
.power-16 { background-image:url('img/cards/016.jpg'); }
.power-17 { background-image:url('img/cards/017.jpg'); }
.power-18 { background-image:url('img/cards/018.jpg'); }
.power-19 { background-image:url('img/cards/019.jpg'); }
.power-20 { background-image:url('img/cards/020.jpg'); }
.power-21 { background-image:url('img/cards/021.jpg'); }
.power-22 { background-image:url('img/cards/022.jpg'); }
.power-23 { background-image:url('img/cards/023.jpg'); }
.power-24 { background-image:url('img/cards/024.jpg'); }
.power-25 { background-image:url('img/cards/025.jpg'); }
.power-26 { background-image:url('img/cards/026.jpg'); }
.power-27 { background-image:url('img/cards/027.jpg'); }
.power-28 { background-image:url('img/cards/028.jpg'); }
.power-29 { background-image:url('img/cards/029.jpg'); }
.power-30 { background-image:url('img/cards/030.jpg'); }
.power-31 { background-image:url('img/cards/031.jpg'); }
.power-32 { background-image:url('img/cards/032.jpg'); }
.power-33 { background-image:url('img/cards/033.jpg'); }
.power-34 { background-image:url('img/cards/034.jpg'); }
.power-35 { background-image:url('img/cards/035.jpg'); }
.power-36 { background-image:url('img/cards/036.jpg'); }
.power-37 { background-image:url('img/cards/037.jpg'); }
.power-38 { background-image:url('img/cards/038.jpg'); }
.power-39 { background-image:url('img/cards/039.jpg'); }
.power-40 { background-image:url('img/cards/040.jpg'); }
.power-41 { background-image:url('img/cards/041.jpg'); }
.power-42 { background-image:url('img/cards/042.jpg'); }
.power-43 { background-image:url('img/cards/043.jpg'); }
.power-44 { background-image:url('img/cards/044.jpg'); }
.power-45 { background-image:url('img/cards/045.jpg'); }
.power-46 { background-image:url('img/cards/046.jpg'); }
.power-47 { background-image:url('img/cards/047.jpg'); }
.power-48 { background-image:url('img/cards/048.jpg'); }
.power-49 { background-image:url('img/cards/049.jpg'); }
.power-50 { background-image:url('img/cards/050.jpg'); }
.power-51 { background-image:url('img/cards/051.jpg'); }
.power-52 { background-image:url('img/cards/052.jpg'); }
.power-53 { background-image:url('img/cards/053.jpg'); }
.power-54 { background-image:url('img/cards/054.jpg'); }
.power-55 { background-image:url('img/cards/055.jpg'); }
.power-56 { background-image:url('img/cards/056.jpg'); }
.power-57 { background-image:url('img/cards/057.jpg'); }
.power-58 { background-image:url('img/cards/058.jpg'); }
.power-59 { background-image:url('img/cards/059.jpg'); }
.power-60 { background-image:url('img/cards/060.jpg'); }
.power-61 { background-image:url('img/cards/061.jpg'); }
.power-62 { background-image:url('img/cards/062.jpg'); }
.power-63 { background-image:url('img/cards/063.jpg'); }
.power-64 { background-image:url('img/cards/064.jpg'); }
.power-65 { background-image:url('img/cards/065.jpg'); }
.power-66 { background-image:url('img/cards/066.jpg'); }
.power-67 { background-image:url('img/cards/067.jpg'); }


.power-1 .power-avatar { background-image:url('img/avatars/001.png'); }
.power-2 .power-avatar { background-image:url('img/avatars/002.png'); }
.power-3 .power-avatar { background-image:url('img/avatars/003.png'); }
.power-4 .power-avatar { background-image:url('img/avatars/004.png'); }
.power-5 .power-avatar { background-image:url('img/avatars/005.png'); }
.power-6 .power-avatar { background-image:url('img/avatars/006.png'); }
.power-7 .power-avatar { background-image:url('img/avatars/007.png'); }
.power-8 .power-avatar { background-image:url('img/avatars/008.png'); }
.power-9 .power-avatar { background-image:url('img/avatars/009.png'); }
.power-10 .power-avatar { background-image:url('img/avatars/010.png'); }
.power-11 .power-avatar { background-image:url('img/avatars/011.png'); }
.power-12 .power-avatar { background-image:url('img/avatars/012.png'); }
.power-13 .power-avatar { background-image:url('img/avatars/013.png'); }
.power-14 .power-avatar { background-image:url('img/avatars/014.png'); }
.power-15 .power-avatar { background-image:url('img/avatars/015.png'); }
.power-16 .power-avatar { background-image:url('img/avatars/016.png'); }
.power-17 .power-avatar { background-image:url('img/avatars/017.png'); }
.power-18 .power-avatar { background-image:url('img/avatars/018.png'); }
.power-19 .power-avatar { background-image:url('img/avatars/019.png'); }
.power-20 .power-avatar { background-image:url('img/avatars/020.png'); }
.power-21 .power-avatar { background-image:url('img/avatars/021.png'); }
.power-22 .power-avatar { background-image:url('img/avatars/022.png'); }
.power-23 .power-avatar { background-image:url('img/avatars/023.png'); }
.power-24 .power-avatar { background-image:url('img/avatars/024.png'); }
.power-25 .power-avatar { background-image:url('img/avatars/025.png'); }
.power-26 .power-avatar { background-image:url('img/avatars/026.png'); }
.power-27 .power-avatar { background-image:url('img/avatars/027.png'); }
.power-28 .power-avatar { background-image:url('img/avatars/028.png'); }
.power-29 .power-avatar { background-image:url('img/avatars/029.png'); }
.power-30 .power-avatar { background-image:url('img/avatars/030.png'); }
.power-31 .power-avatar { background-image:url('img/avatars/031.png'); }
.power-32 .power-avatar { background-image:url('img/avatars/032.png'); }
.power-33 .power-avatar { background-image:url('img/avatars/033.png'); }
.power-34 .power-avatar { background-image:url('img/avatars/034.png'); }
.power-35 .power-avatar { background-image:url('img/avatars/035.png'); }
.power-36 .power-avatar { background-image:url('img/avatars/036.png'); }
.power-37 .power-avatar { background-image:url('img/avatars/037.png'); }
.power-38 .power-avatar { background-image:url('img/avatars/038.png'); }
.power-39 .power-avatar { background-image:url('img/avatars/039.png'); }
.power-40 .power-avatar { background-image:url('img/avatars/040.png'); }
.power-41 .power-avatar { background-image:url('img/avatars/041.png'); }
.power-42 .power-avatar { background-image:url('img/avatars/042.png'); }
.power-43 .power-avatar { background-image:url('img/avatars/043.png'); }
.power-44 .power-avatar { background-image:url('img/avatars/044.png'); }
.power-45 .power-avatar { background-image:url('img/avatars/045.png'); }
.power-46 .power-avatar { background-image:url('img/avatars/046.png'); }
.power-47 .power-avatar { background-image:url('img/avatars/047.png'); }
.power-48 .power-avatar { background-image:url('img/avatars/048.png'); }
.power-49 .power-avatar { background-image:url('img/avatars/049.png'); }
.power-50 .power-avatar { background-image:url('img/avatars/050.png'); }
.power-51 .power-avatar { background-image:url('img/avatars/051.png'); }
.power-52 .power-avatar { background-image:url('img/avatars/052.png'); }
.power-53 .power-avatar { background-image:url('img/avatars/053.png'); }
.power-54 .power-avatar { background-image:url('img/avatars/054.png'); }
.power-55 .power-avatar { background-image:url('img/avatars/055.png'); }
.power-56 .power-avatar { background-image:url('img/avatars/056.png'); }
.power-57 .power-avatar { background-image:url('img/avatars/057.png'); }
.power-58 .power-avatar { background-image:url('img/avatars/058.png'); }
.power-59 .power-avatar { background-image:url('img/avatars/059.png'); }
.power-60 .power-avatar { background-image:url('img/avatars/060.png'); }
.power-61 .power-avatar { background-image:url('img/avatars/061.png'); }
.power-62 .power-avatar { background-image:url('img/avatars/062.png'); }
.power-63 .power-avatar { background-image:url('img/avatars/063.png'); }
.power-64 .power-avatar { background-image:url('img/avatars/064.png'); }
.power-65 .power-avatar { background-image:url('img/avatars/065.png'); }
.power-66 .power-avatar { background-image:url('img/avatars/066.png'); }
.power-67 .power-avatar { background-image:url('img/avatars/067.png'); }
